input{
    font-size: 20px;
    width: 70%;
    background-color: #121212;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: 0.3s;
    height: 40px;
}

label{
    color: aliceblue;
    margin: 2% 0;
    font-size: 25px;
}

input:focus{
    outline: 2px solid aliceblue;
}

