main{
    min-height: 86.2vh;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
}
.container_sections_expense{
    width: 97%;
    padding: 1%;
    display: flex;
    height: auto;
    justify-content: center;
}